@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400&display=swap');
* {
   margin: 0;
   padding: 0;
}
body {
   font-family: 'Karla', sans-serif;
   color: #323a45;
   margin-left: 5%;
   margin-right: 5%;
}
header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 0 5%;
}
nav {
   display: grid;
   justify-self: end;
}
header ul {
   margin: 1em 0.5em;
   text-align: center;
}
header li {
   display: inline;
}
header a {
   color: #323a45;
   text-decoration: none;
   padding-left: 60px;
}
header h1 {
   font-size: 1em;
   letter-spacing: 4px;
}
article {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
article img:nth-of-type(1) {
   align-self: center;
   justify-self: center;
   width: 100%;
   margin-bottom: 5%;
}
img {
   transition: 0.8s ease-in-out;
}

img:hover {
   opacity: 0.4;
}
nav a:hover {
   opacity: 0.4;
}
article div {
   display: grid;
   grid-template-columns: 1fr;
   align-items: start;
}
.gallery1 {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   justify-content: space-around;
   margin-bottom: 10%;
   margin-top: 10%;
   gap: 25px;
}
.gallery1 div p:nth-of-type(odd) {
   justify-self: flex-end;
}
.gallery1 div {
   display: grid;
   grid-template-columns: 2fr 1fr;
}
.gallery2 {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 20px;
   justify-content: space-around;
   margin-bottom: 10%;
}
.gallery2 div {
   display: grid;
   grid-template-columns: 2fr 1fr;
}
footer {
   display: grid;
   grid-template-columns: 325px 250px 250px 150px;
   margin: 10% 2%;
}
footer div {
   display: flex;
   flex-direction: column;
}
.designShop p:nth-of-type(2) {
   line-height: 30px;
}
.contact {
   margin-left: 40%;
   padding-right: 20px;
}
#newsletter {
   line-height: 30px;
   justify-self: center;
}
footer div p:nth-of-type(odd) {
   line-height: 100px;
}
#findUs {
   justify-self: flex-end;
}
.copyright {
   color: #848484;
   margin-top: 10%;
   grid-column: 1/5;
   grid-row: 2/3;
}
footer a {
   text-decoration: none;
   color: black;
   line-height: 30px;
}
.dot {
   height: 5px;
   position: relative;
   bottom: 2px;
   width: 5px;
   background-color: #848484;
   border-radius: 50%;
   display: inline-block;
   margin: 0px 10px;
}
.subsc {
   font-weight: bold;
}
#dieter {
   grid-template-columns: 1fr;
}
@media (max-width: 768px) {
   #nav {
      display: block;
      font-size: 12px;
      margin-right: 50%;
   }
   #nav a {
      display: block;
   }
   .galleryBig {
      display: block;
      width: 40%;
   }
   .gallery1 {
      display: block;
      width: 40%;
   }
   .gallery2 {
      display: block;
      width: 40%;
   }
   #dieter {
      display: block;
      width: 40%;
   }
   footer {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      width: 50%;
      line-height: 5px;
      justify-content: flex-start;
      align-items: flex-start;
   }
   .copyright {
      display: block;
      color: red;
   }
   footer div p:nth-of-type(odd) {
      line-height: 30px;
   }
   .contact {
      margin: 10% 0;
   }
}
